@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
header, .searchbar .navbar, .comic-bloc, main {
  max-width: 122rem;
  margin: 0 auto !important;
}

.biography-comic, .card {
  text-decoration: none;
  color: inherit;
}

.section-to-complete, p.to-complete, .cards-bloc__empty, .card__description--empty {
  color: rgb(229, 38, 38);
  font-weight: bold;
}

html {
  font-size: 62.5%;
  background-color: rgb(23, 22, 22);
}

main {
  height: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span,
button,
p,
label,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

.cards-bloc {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 4rem;
}
.cards-bloc__empty {
  font-size: 2.2rem;
  margin-top: 10%;
}

.card {
  position: relative;
  border: 4px solid rgb(229, 38, 38);
  width: calc((100% - 8rem) / 3);
  height: 40rem;
  padding: 2rem;
  gap: 3rem;
  background-color: rgb(218, 217, 217);
  margin-bottom: 4rem;
  padding-top: 5rem;
  box-shadow: -4px -1px 5px rgb(229, 38, 38);
}
.card:hover {
  background-color: rgb(238, 209, 209);
  transition: 0.5s;
}
.card__bloc {
  flex-direction: column;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}
.card__title {
  font-weight: bold;
}
.card__description {
  overflow: hidden;
  overflow-wrap: break-word;
  max-height: 14rem;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 1.4rem;
  text-align: justify;
}
.card__description--empty {
  font-size: 1.2rem;
}

.bloc-description {
  line-height: 2rem;
  max-height: 15rem;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.favorite {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: rgb(236, 232, 232);
  position: absolute;
  top: 2%;
  left: 85%;
  z-index: 1;
}
.favorite__modal {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: transparent;
  position: absolute;
  top: 2%;
  left: 85%;
  z-index: 1;
}
.favorite__fullheart {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: rgb(236, 232, 232);
  background-color: rgb(229, 38, 38);
  position: absolute;
  top: 2%;
  left: 85%;
  z-index: 1;
}
.favorite__icon {
  font-size: 1.6rem;
}

@media (max-width: 1140px) {
  .card {
    width: calc((100% - 4rem) / 2);
  }
}
@media (max-width: 655px) {
  .card {
    width: 100%;
    display: flex;
    height: 30rem;
    gap: 3rem;
  }
  .favorite {
    top: 1.5rem;
  }
  .cards-bloc {
    gap: 0rem;
  }
  .card p {
    font-size: 1.4rem;
  }
}
.biography-bloc {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 4rem;
}
.biography-bloc__left {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(236, 232, 232);
  width: 34rem;
  height: -moz-fit-content;
  height: fit-content;
}
.biography-bloc__left div {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.biography-bloc__left div p {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 2rem;
}
.biography-bloc__right {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 60rem;
  padding: 2rem;
  background-color: rgb(236, 232, 232);
}
.biography-bloc__right div {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

p.to-complete {
  font-size: 1.4rem;
}

@media (max-width: 830px) {
  .bio-space div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .comic-bio-card {
    width: 100%;
  }
}
.comic-bloc {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 232, 232);
  width: 65rem;
  padding: 2rem;
}
.comic-bloc p {
  padding: 4rem;
  line-height: 2rem;
  font-size: 1.4rem;
  text-align: justify;
}

.section-to-complete {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10%;
}
.section-to-complete p {
  font-size: 2.2rem;
}

@media (max-width: 830px) {
  .comic-bloc {
    flex-direction: column;
    width: 34rem;
  }
}
.sticky-bloc {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.searchbar {
  flex-direction: row;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(229, 38, 38);
  padding: 2rem;
  background-color: rgb(23, 22, 22);
}
.searchbar .navbar {
  display: flex;
  gap: 5rem;
}

.navsearch {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.navsearch label {
  color: rgb(236, 232, 232);
  font-size: 1.8rem;
}
.navsearch input {
  text-align: center;
  width: 30rem;
  height: 3rem;
  font-size: 1.6rem;
}
.navsearch__autocomplete-bloc {
  position: relative;
  border: 1px solid orange;
  width: 30rem;
}
.navsearch__autocomplete-bloc .autocomplete-list {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
  position: absolute;
  z-index: 4;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.navsearch__autocomplete-bloc .autocomplete-list::-webkit-scrollbar {
  display: none;
}
.navsearch__autocomplete-bloc .item {
  border: 1px solid rgb(153, 65, 65);
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 5rem;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  background-color: rgb(23, 22, 22);
}
.navsearch__autocomplete-bloc .item:hover {
  background-color: rgb(141, 92, 92);
  cursor: pointer;
}
.navsearch__autocomplete-bloc .item:focus {
  background-color: rgb(141, 92, 92);
  border: 1px solid white;
}

.navpage {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.navpage select {
  background-color: rgb(57, 57, 57);
  color: rgb(229, 38, 38);
  width: 10rem;
  font-size: 1.6rem;
  text-align: center;
  height: 4.2rem;
}
.navpage__chevron {
  color: rgb(229, 38, 38);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 80%;
}
.navpage__chevron:hover {
  cursor: pointer;
  background-color: rgb(236, 232, 232);
  transition: 0.5s;
}
.navpage__chevron:active {
  opacity: 0.7;
}
.navpage__unvisible {
  visibility: hidden;
  margin-inline: 1.4rem;
}

@media (max-width: 1140px) {
  .search-page-bloc {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}
@media (max-width: 655px) {
  .search-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .select-bloc select {
    font-size: 1.4rem;
    height: 3rem;
  }
}
header {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  position: relative;
}

header button {
  padding: 2rem;
  background-color: inherit;
  border-radius: 50%;
  color: rgb(229, 38, 38);
  border: none;
  font-size: 2.2rem;
  margin-right: 4rem;
}
header button:hover {
  cursor: pointer;
  background-color: rgb(236, 232, 232);
  transition: 0.5s;
}

header img {
  width: 20rem;
}

.menu {
  position: absolute;
  top: 5rem;
  left: calc(100% - 10rem);
}
.menu__icon {
  background-color: rgb(57, 57, 57);
  color: rgb(229, 38, 38);
  font-size: 2.4rem;
  border: 1px solid red;
  padding: 1rem 1.3rem;
  position: relative;
}
.menu__icon:hover {
  cursor: pointer;
}

.bloc-menu {
  position: absolute;
  top: 100%;
  left: calc(-50% - 1rem);
  height: -moz-fit-content;
  height: fit-content;
  width: 12rem;
  color: white;
  z-index: 3;
}
.bloc-menu__item {
  border: 1px solid rgb(153, 65, 65);
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 5rem;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
  background-color: rgb(23, 22, 22);
}
.bloc-menu__item:hover {
  background-color: rgb(141, 92, 92);
  cursor: pointer;
}
.bloc-menu__item:focus {
  background-color: rgb(141, 92, 92);
  border: 1px solid white;
}

.modal-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-window__bloc {
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  width: 40rem;
  z-index: 5;
  border-radius: 10px;
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-window__close {
  align-self: flex-end;
}

form {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.inputBloc {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 30rem;
  gap: 1rem;
}
.inputBloc input {
  text-align: center;
  height: 3rem;
  background-color: rgb(238, 209, 209);
}
.inputBloc input,
.inputBloc label {
  font-size: 1.8rem;
}

form button {
  margin-block: 2rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  border: transparent;
  background-color: #3eb0f7;
}

.error-message {
  color: red;
  margin-top: 2rem;
}

.comics-window {
  width: 100%;
}
.comics-window .to-complete {
  margin: 0 auto;
}

.biography-comic {
  flex-direction: column;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  width: calc((100% - 8rem) / 4);
  text-align: center;
  gap: 1rem;
  height: 14rem;
  overflow: hidden;
}
.biography-comic:hover {
  transition: 0.5s;
  background-color: rgb(238, 209, 209);
}
.biography-comic h5 {
  height: 2.5rem;
  overflow: hidden;
}

@media (max-width: 1140px) {
  .bio-card-right {
    width: 34rem;
  }
  .comic-bio-card {
    width: calc((100% - 4rem) / 2);
  }
}
h2 {
  font-size: 3.5rem;
  color: rgb(236, 232, 232);
  text-align: center;
  padding-block: 4rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-block: 2rem;
}

h4 {
  font-size: 1.6rem;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
}/*# sourceMappingURL=App.css.map */