// This file regroup all the keyframes animation for the project

@keyframes chevron-right {
  10% {
    transform: translateX(8%);
  }

  75%,
  100% {
    transform: translateX(6%);
  }
}

@keyframes chevron-left {
  10% {
    transform: translateX(-8%);
  }

  75%,
  100% {
    transform: translateX(-6%);
  }
}

@keyframes drop-down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}

@keyframes little-fav {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-cards-right {
  from {
    transform: translateX(-9999px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-cards-left {
  from {
    transform: translateX(9999px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes wrong-input {
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}

@keyframes solo-cardComic-fadin-in {
  0% {
    transform: perspective(150rem) translateY(70rem) translateX(-40rem)
      rotateX(50deg);
  }

  100% {
    transform: perspective(150rem) translateY(0) translateX(0) rotateX(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes error-shake {
  25% {
    transform: translateX(3%);
  }
  75% {
    transform: translateX(-3%);
  }
}

@keyframes appear-modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
