// colors variables
$main-color: rgb(229, 38, 38);
$background-site: rgb(23, 22, 22);
$secondary-color: rgb(57, 57, 57);
$white-color: rgba(205, 205, 205);
$card-color: #d1cfc7;
$transition-color: rgb(238, 209, 209);
$icon-color: rgb(228, 228, 228);

// font variable
$font-site: "Rubik", sans-serif;
$font-standard: 1.4rem;
