// colors variables
$main-color: rgb(229, 38, 38);
$background-site: rgb(23, 22, 22);
$secondary-color: rgb(57, 57, 57);
$white-color: rgb(236, 232, 232);

// font variable
$font-site: "Rubik", sans-serif;
$titre-h2: 3.5rem;
$titre-h3: 2rem;
$titre-h4: 1.6rem;
$font-standard: 1.4rem;
$font-small: 1.2rem;
