@use "../abstracts" as *;

html {
  font-size: 62.5%;
  background-color: $background-site;
}

main {
  height: 100%;
}

h2 {
  font-size: 3.5rem;
  color: rgb(236, 232, 232);
  text-align: center;
  padding-block: 4rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-block: 2rem;
}
