@use "../abstracts" as *;

html {
  font-size: 62.5% !important;
  background-color: $background-site;
}

main {
  height: 100%;
  @extend %wrapper;
  overflow: hidden;
}

h2 {
  font-size: 3.5rem;
  color: $white-color;
  text-align: center;
  padding-block: 4rem;

  h2 {
    animation: fade-in-cards-left 800ms both;

    @include responsive-screen("small") {
      font-size: 2.2rem;
    }

    @include responsive-screen("tiny") {
      font-size: 2rem;
    }
  }
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-block: 2rem;
}

h4 {
  font-size: 1.6rem;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
}

span,
button,
p,
label,
h2,
h3,
h4 {
  font-family: $font-site;
}
