@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
header, .searchbar .navbar, .page, main {
  max-width: 122rem;
  margin: 0 auto !important;
}

.card, .biography-comic {
  text-decoration: none;
  color: inherit;
}

.card__description--empty, .cards-bloc__empty, .section-to-complete, p.to-complete {
  color: rgb(229, 38, 38);
  font-weight: bold;
}

@keyframes chevron-right {
  10% {
    transform: translateX(8%);
  }
  75%, 100% {
    transform: translateX(6%);
  }
}
@keyframes chevron-left {
  10% {
    transform: translateX(-8%);
  }
  75%, 100% {
    transform: translateX(-6%);
  }
}
@keyframes drop-down {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}
@keyframes little-fav {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in-cards-right {
  from {
    transform: translateX(-9999px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-cards-left {
  from {
    transform: translateX(9999px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes wrong-input {
  25% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}
@keyframes solo-cardComic-fadin-in {
  0% {
    transform: perspective(150rem) translateY(70rem) translateX(-40rem) rotateX(50deg);
  }
  100% {
    transform: perspective(150rem) translateY(0) translateX(0) rotateX(0deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes error-shake {
  25% {
    transform: translateX(3%);
  }
  75% {
    transform: translateX(-3%);
  }
}
@keyframes appear-modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5% !important;
  background-color: rgb(23, 22, 22);
}

main {
  height: 100%;
  overflow: hidden;
}

h2 {
  font-size: 3.5rem;
  color: rgb(205, 205, 205);
  text-align: center;
  padding-block: 4rem;
  animation: fade-in-cards-left 1.1s cubic-bezier(0.47, 0.92, 0.47, 0.7) both;
}
@media screen and (max-width: 655px) {
  h2 h2 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 500px) {
  h2 h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-block: 2rem;
}

h4 {
  font-size: 1.6rem;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
}

span,
button,
p,
label,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

.biography-bloc {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 4rem;
  padding: 2rem;
}
@media screen and (max-width: 830px) {
  .biography-bloc {
    flex-direction: column;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
.biography-bloc .favorite {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: rgb(228, 228, 228);
  animation: little-fav 2s ease-in-out;
  position: absolute;
  top: 1rem;
  left: calc(100% - 18.2rem);
}
.biography-bloc .favorite:hover {
  cursor: pointer;
}
.biography-bloc .favorite__modal {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  left: calc(100% - 18.2rem);
}
.biography-bloc .favorite__modal:hover {
  cursor: pointer;
}
.biography-bloc .favorite__fullheart {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: rgb(228, 228, 228);
  background-color: rgb(229, 38, 38);
  transition: background-color 1s;
  position: absolute;
  top: 1rem;
  left: calc(100% - 18.2rem);
}
.biography-bloc .favorite__fullheart:hover {
  cursor: pointer;
}
.biography-bloc .favorite__icon {
  font-size: 1.6rem;
}

.biography-bloc__left {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  padding-top: 6rem;
  background-color: #d1cfc7;
  width: 34rem;
  position: relative;
  animation: fade-in-cards-right 1.2s 150ms cubic-bezier(0.26, 0.49, 0, 0.7) both;
}
.biography-bloc__left div {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.biography-bloc__left div p {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 2.2rem;
}

.biography-bloc__right {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 60rem;
  padding: 2rem;
  background-color: #d1cfc7;
  animation: fade-in-cards-left 1.2s both;
}
@media screen and (max-width: 830px) {
  .biography-bloc__right {
    width: 100%;
  }
}
.biography-bloc__right div {
  margin-top: 2rem;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

p.to-complete {
  font-size: 1.4rem;
}

.back-arrow {
  color: rgb(229, 38, 38);
  font-size: 5rem;
  margin-left: 2rem;
  animation: opacity-animation 1s 300ms ease-out;
}
@media screen and (max-width: 655px) {
  .back-arrow {
    font-size: 4rem;
  }
}
.back-arrow:hover {
  animation: chevron-left 2s infinite ease-in-out;
}
.back-arrow:active {
  opacity: 0.7;
}

.comic__row {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
@media screen and (max-width: 830px) {
  .comic__row {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }
}

.comic-bloc {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #d1cfc7;
  width: 65rem;
  padding: 2rem;
  position: relative;
  animation: solo-cardComic-fadin-in 1.2s cubic-bezier(0.6, 0, 0.73, 0.37) backwards;
}
@media screen and (max-width: 830px) {
  .comic-bloc {
    flex-direction: column;
    width: 34rem;
    padding-top: 5rem;
  }
}
.comic-bloc p {
  padding: 3rem;
  line-height: 2rem;
  font-size: 1.4rem;
  text-align: justify;
}
@media screen and (max-width: 830px) {
  .comic-bloc p {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 830px) {
  .comic-bloc img {
    margin-bottom: 2rem;
  }
}
.comic-bloc .favorite {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: rgb(228, 228, 228);
  animation: little-fav 2s ease-in-out;
  position: absolute;
  top: 2rem;
  left: calc(100% - 5rem);
}
.comic-bloc .favorite:hover {
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .comic-bloc .favorite {
    position: absolute;
    top: 1rem;
    left: calc(50% - 0.8rem);
  }
}
.comic-bloc .favorite__modal {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: transparent;
  position: absolute;
  top: 2rem;
  left: calc(100% - 5rem);
}
.comic-bloc .favorite__modal:hover {
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .comic-bloc .favorite__modal {
    position: absolute;
    top: 1rem;
    left: calc(50% - 0.8rem);
  }
}
.comic-bloc .favorite__fullheart {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: rgb(228, 228, 228);
  background-color: rgb(229, 38, 38);
  transition: background-color 1s;
  position: absolute;
  top: 2rem;
  left: calc(100% - 5rem);
}
.comic-bloc .favorite__fullheart:hover {
  cursor: pointer;
}
@media screen and (max-width: 830px) {
  .comic-bloc .favorite__fullheart {
    position: absolute;
    top: 1rem;
    left: calc(50% - 0.8rem);
  }
}
.comic-bloc .favorite__icon {
  font-size: 1.6rem;
}

.section-to-complete {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10%;
  animation: fade-in-cards-left 1.2s ease;
}
.section-to-complete p {
  font-size: 2.2rem;
  margin: 1rem;
}
@media screen and (max-width: 655px) {
  .section-to-complete p {
    font-size: 1.8rem;
  }
}
.section-to-complete .back-arrow {
  margin-top: 5rem;
}

form {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.inputBloc {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 30rem;
  gap: 1rem;
}
.inputBloc input {
  text-align: center;
  height: 3rem;
  outline: none;
  border-radius: 10px;
}
.inputBloc input:focus {
  border: 3px solid black;
}
.inputBloc input:invalid {
  background-color: rgb(238, 209, 209);
}
.inputBloc input:valid {
  border: 2px solid #3eb0f7;
}
.inputBloc input,
.inputBloc label {
  font-size: 1.8rem;
}
@media screen and (max-width: 655px) {
  .inputBloc input,
  .inputBloc label {
    font-size: 1.4rem;
  }
}

form button {
  margin: 1rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  border: transparent;
  background-color: #929597;
  cursor: not-allowed;
}
@media screen and (max-width: 655px) {
  form button {
    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 1.4rem;
  }
}

.button__valid {
  cursor: pointer;
  background-color: #3eb0f7;
}

.error-message {
  color: rgb(229, 38, 38);
  font-size: 1.6rem;
  margin-top: 2rem;
}

.success-message {
  color: #3eb0f7;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.account-message {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.account-message:hover {
  cursor: pointer;
  text-decoration: underline;
}
.account-message:active {
  opacity: 0.7;
}

.comics-window {
  width: 100%;
}
.comics-window .to-complete {
  margin: 0 auto;
}

.biography-comic {
  flex-direction: column;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: -2px -1px 2px black;
  width: calc((100% - 6rem) / 3);
  text-align: center;
  gap: 1rem;
  height: 14rem;
  overflow: hidden;
  transition: transform 150ms ease-in;
}
.biography-comic:hover {
  transform: perspective(90rem) rotateY(10deg) scaleZ(0.9);
}
.biography-comic h5 {
  line-height: 1.6rem;
  max-height: 3.2rem;
  overflow: hidden;
}

.cards-bloc {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 4rem;
}
@media screen and (max-width: 500px) {
  .cards-bloc {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }
}
.cards-bloc__empty {
  font-size: 2.2rem;
  margin-top: 10%;
}

.page {
  border: 1px solid transparent;
}

.card__transition {
  padding: 2rem;
  padding-top: 5rem;
  height: 100%;
  width: 100%;
  position: relative;
  border: 4px solid rgb(229, 38, 38);
  background-color: #d1cfc7;
  box-shadow: -2px -1px 3px rgb(229, 38, 38);
  transition: transform 300ms ease-in;
}
.card__transition:hover {
  transform: perspective(90rem) rotateY(5deg) scaleZ(0.9);
}

.card {
  width: calc((100% - 8rem) / 3);
  height: 45rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1140px) {
  .card {
    width: calc((90% - 4rem) / 2);
  }
}
@media screen and (max-width: 830px) {
  .card {
    width: calc(90% - 4rem);
  }
}
@media screen and (max-width: 500px) {
  .card {
    width: 85%;
    height: 40rem;
  }
}
.card__right {
  animation: fade-in-cards-right 1s cubic-bezier(0.17, 1.13, 0.47, 0.7);
}
.card__left {
  animation: fade-in-cards-left 1s cubic-bezier(0.17, 1.13, 0.47, 0.7);
}
.card__bloc {
  flex-direction: column;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}
.card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30rem;
  font-weight: bold;
}
.card__description {
  font-size: 1.4rem;
  line-height: 2.2rem;
  max-height: 11rem;
  overflow: hidden;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .card__description {
    line-height: 2.2rem;
    max-height: 8.8rem;
    overflow: hidden;
  }
}
.card__description--empty {
  font-size: 1.4rem;
}
.card .favorite {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: rgb(228, 228, 228);
  animation: little-fav 2s ease-in-out;
  position: absolute;
  top: 1rem;
  left: calc(100% - 4rem);
}
.card .favorite:hover {
  cursor: pointer;
}
.card .favorite__modal {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: black;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  left: calc(100% - 4rem);
}
.card .favorite__modal:hover {
  cursor: pointer;
}
.card .favorite__fullheart {
  z-index: 1;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(229, 38, 38);
  transition: background-color 1s;
  position: absolute;
  top: 1rem;
  left: calc(100% - 4rem);
}
.card .favorite__fullheart:hover {
  cursor: pointer;
}
.card .favorite__icon {
  font-size: 1.6rem;
}

.bloc-description {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.boxload {
  height: 70vh;
  width: 100%;
  position: absolute;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  animation: opacity-animation 700ms 1.2s both;
}
.boxload__loader {
  color: rgb(229, 38, 38);
  font-size: 3rem;
  animation: spin 1.5s infinite running;
  opacity: 0.8;
}
.boxload__loader:hover {
  animation-play-state: paused;
}

.sticky-bloc {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.searchbar {
  flex-direction: row;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(229, 38, 38);
  padding: 2rem;
  background-color: rgb(23, 22, 22);
}
.searchbar .navbar {
  display: flex;
  gap: 5rem;
}
.searchbar .navbar__right {
  animation: fade-in-cards-right 1s cubic-bezier(0.17, 1.13, 0.47, 0.7);
}
.searchbar .navbar__left {
  animation: fade-in-cards-left 1s cubic-bezier(0.17, 1.13, 0.47, 0.7);
}
@media screen and (max-width: 1140px) {
  .searchbar .navbar {
    flex-direction: column;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 655px) {
  .searchbar .navbar {
    gap: 2.5rem;
  }
}

header {
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 2rem;
  position: relative;
}
@media screen and (max-width: 655px) {
  header {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 655px) {
  header nav {
    display: flex;
    flex-direction: column;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.header__button {
  padding: 2rem;
  background-color: inherit;
  border-radius: 50%;
  color: rgb(229, 38, 38);
  border: none;
  font-size: 2.2rem;
  margin-inline: 4rem;
  transition: background-color 250ms ease-in, color 150ms ease-in;
}
@media screen and (max-width: 655px) {
  .header__button {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .header__button {
    font-size: 1.5rem;
  }
}
.header__button:hover {
  background-color: rgb(205, 205, 205);
  color: #bf1717;
  cursor: pointer;
}

header img {
  width: 20rem;
}
@media screen and (max-width: 655px) {
  header img {
    width: 15rem;
  }
}
@media screen and (max-width: 500px) {
  header img {
    width: 13rem;
  }
}

.menu {
  position: absolute;
  top: 3rem;
  left: calc(100% - 10rem);
}
@media screen and (max-width: 655px) {
  .menu {
    position: absolute;
    top: 1.8rem;
    left: calc(100% - 8rem);
  }
}
.menu__icon {
  background-color: rgb(57, 57, 57);
  color: rgb(229, 38, 38);
  font-size: 2.4rem;
  border: 1px solid rgb(229, 38, 38);
  padding: 1rem 1.3rem;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 655px) {
  .menu__icon {
    font-size: 1.6rem;
  }
}

.bloc-menu {
  position: absolute;
  top: 100%;
  left: calc(-50% - 1rem);
  width: 12rem;
  color: rgb(205, 205, 205);
  z-index: 3;
  animation: drop-down 350ms ease-in-out;
  transform-origin: top;
}
@media screen and (max-width: 655px) {
  .bloc-menu {
    width: 10rem;
    position: absolute;
    top: 100%;
    left: calc(-50% - 0.8rem);
  }
}
.bloc-menu__item {
  border: 1px solid rgb(153, 65, 65);
  background-color: rgb(23, 22, 22);
  padding: 1.2rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.79rem;
  height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 655px) {
  .bloc-menu__item {
    padding: 1.2rem;
  }
}
.bloc-menu__item:hover {
  background-color: rgb(141, 92, 92);
  cursor: pointer;
}
.bloc-menu__item:focus {
  background-color: rgb(141, 92, 92);
  border: 1px solid rgb(205, 205, 205);
}

.modal-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-window__bloc {
  padding: 2rem;
  background-color: rgb(228, 228, 228);
  width: 40rem;
  z-index: 5;
  border-radius: 10px;
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
  animation: appear-modal 500ms 50ms both;
}
@media screen and (max-width: 655px) {
  .modal-window__bloc {
    width: 30rem;
  }
}
.modal-window__close {
  align-self: flex-end;
  font-size: 2.6rem;
}
.modal-window__close:hover {
  cursor: pointer;
  animation: spin 3s ease-out infinite;
}
.modal-window__close :active {
  opacity: 0.5;
}

.disconnect-message {
  color: #3eb0f7;
  font-size: 1.6rem;
  margin-block: 2rem;
}

.user-error {
  animation: error-shake 200ms 3 ease-in;
}

.navsearch {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 655px) {
  .navsearch {
    flex-direction: column;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
.navsearch label {
  color: rgb(205, 205, 205);
  font-size: 1.8rem;
}
@media screen and (max-width: 655px) {
  .navsearch label {
    font-size: 1.6rem;
  }
}
.navsearch input {
  text-align: center;
  width: 30rem;
  height: 3rem;
  background-color: #d1cfc7;
  font-size: 1.6rem;
}
.navsearch input::placeholder {
  color: black;
  opacity: 1;
}

.autocomplete-bloc {
  position: relative;
  border: 1px solid rgb(153, 65, 65);
  width: 30rem;
}

.autocomplete {
  width: 100%;
  border: 1px solid rgb(153, 65, 65);
  max-height: 23rem;
  color: rgb(205, 205, 205);
  position: absolute;
  z-index: 4;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  transform-origin: top;
  animation: drop-down 150ms 0ms ease-in-out;
}
.autocomplete::-webkit-scrollbar {
  display: none;
}
.autocomplete__item {
  border: 1px solid rgb(153, 65, 65);
  background-color: rgb(23, 22, 22);
  padding: 1.2rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.79rem;
  height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 655px) {
  .autocomplete__item {
    padding: 1.2rem;
  }
}
.autocomplete__item:hover {
  background-color: rgb(141, 92, 92);
  cursor: pointer;
}
.autocomplete__item:focus {
  background-color: rgb(141, 92, 92);
  border: 1px solid rgb(205, 205, 205);
}
@media screen and (max-width: 655px) {
  .autocomplete {
    max-height: 16rem;
  }
}

.navpage {
  flex-direction: row;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 37rem;
}
@media screen and (max-width: 500px) {
  .navpage {
    gap: 2.2rem;
  }
}

.navpage__chevron {
  color: rgb(229, 38, 38);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 80%;
  transition: background-color 250ms ease-in, color 150ms ease-in;
}
@media screen and (max-width: 655px) {
  .navpage__chevron {
    font-size: 1.6rem;
  }
}
.navpage__chevron:hover {
  cursor: pointer;
  background-color: rgb(205, 205, 205);
  color: #bf1717;
}
.navpage__chevron--right:hover {
  animation: chevron-right 2s infinite ease-in-out;
}
.navpage__chevron--left:hover {
  animation: chevron-left 2s infinite ease-in-out;
}
.navpage__chevron:active {
  opacity: 0.7;
}

.navpage__unvisible {
  color: rgb(229, 38, 38);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 80%;
  opacity: 0;
}
@media screen and (max-width: 655px) {
  .navpage__unvisible {
    font-size: 1.6rem;
  }
}

select {
  background-color: rgb(57, 57, 57);
  color: rgb(229, 38, 38);
  width: 10rem;
  font-size: 1.6rem;
  text-align: center;
  height: 4.2rem;
}
select:hover {
  cursor: pointer;
}
@media screen and (max-width: 655px) {
  select {
    width: 10rem;
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=App.css.map */
