@use "../abstracts" as *;

.card__transition {
  padding: 2rem;
  padding-top: 5rem;
  height: 100%;
  width: 100%;
  position: relative;
  border: 4px solid $main-color;
  background-color: white;
  box-shadow: -2px -1px 3px $main-color;
  transition: transform 300ms ease-in;

  &:hover {
    transform: perspective(90rem) rotateY(5deg) scaleZ(0.9);
  }

  .favorite {
    @include favorite-item($white-color);
    @include absolute-element(1rem, calc(100% - 4rem));
    // animation: little-fav 2s ease-in-out;

    &__modal {
      @include favorite-item(transparent);
      @include absolute-element(1rem, calc(100% - 4rem));
    }
    &__fullheart {
      @include favorite-item($main-color, $white-color);
      // transition: background-color 1s;
      @include absolute-element(1rem, calc(100% - 4rem));
    }
    &__icon {
      font-size: 1.6rem;
    }
  }
}

.card {
  width: calc((100% - 8rem) / 3);
  height: 45rem;
  margin-bottom: 4rem;
  @extend %custom-link;

  @include responsive-screen("large") {
    width: calc((90% - 4rem) / 2);
  }

  @include responsive-screen("medium") {
    width: calc(90% - 4rem);
  }

  @include responsive-screen("tiny") {
    width: 85%;
    height: 48rem;
    margin-top: 2rem;
  }

  &__right {
    animation: fade-in-cards-right 1s both;

    @for $i from 1 through 100 {
      &--#{$i} {
        @if $i % 3 == 0 {
          animation-delay: 0s;
        } @else if $i % 2 == 0 {
          animation-delay: 500ms;
        } @else {
          animation-delay: 1s;
        }
      }
    }

    @include responsive-screen("large") {
      @for $i from 1 through 100 {
        &--#{$i} {
          @if $i % 2 == 0 {
            animation-delay: 0s;
          } @else {
            animation-delay: 500ms;
          }
        }
      }
    }

    @include responsive-screen("medium") {
      @for $i from 1 through 100 {
        &--#{$i} {
          @if $i % 2 != 0 {
            animation-delay: 0s;
          } @else {
            animation-delay: 500ms;
          }
        }
      }
    }

    @include responsive-screen("tiny") {
      animation-name: fade-in-cards-left;
      animation-delay: 0s;
    }
  }

  &__left {
    animation: fade-in-cards-left 1s both;

    @for $i from 1 through 100 {
      &--#{$i} {
        @if $i % 3 == 0 {
          animation-delay: 0s;
        } @else if $i % 2 == 0 {
          animation-delay: 500ms;
        } @else {
          animation-delay: 1s;
        }
      }
    }

    @include responsive-screen("large") {
      @for $i from 1 through 100 {
        &--#{$i} {
          @if $i % 2 == 0 {
            animation-delay: 0s;
          } @else {
            animation-delay: 500ms;
          }
        }
      }
    }

    @include responsive-screen("medium") {
      @for $i from 1 through 100 {
        &--#{$i} {
          @if $i % 2 != 0 {
            animation-delay: 0s;
          } @else {
            animation-delay: 500ms;
          }
        }
      }
    }

    @include responsive-screen("tiny") {
      @for $i from 1 through 100 {
        &--#{$i} {
          animation-delay: 0s;
        }
      }
    }
  }

  &__bloc {
    @include flex-around(column);
    gap: 4rem;
    margin-bottom: 4rem;
  }

  &__title {
    @include ellipsis-line;
    width: 30rem;
    font-weight: bold;

    @include responsive-screen("tiny") {
      width: 20rem;
      @include ellipsis-line;
    }
  }

  &__description {
    font-size: $font-standard;
    @include max-bloc-text-size(2.2rem, 3);
    text-align: justify;

    @include responsive-screen("tiny") {
      @include max-bloc-text-size(2.2rem, 4);
    }

    &--empty {
      @extend %to-complete;
      font-size: $font-standard;
    }
  }
}

.bloc-description {
  @include flex-center;
}
