@use "../abstracts" as *;

.biography-bloc {
  @include flex-center(row);
  align-items: flex-start;
  gap: 4rem;

  &__left {
    @include flex-center(column);
    gap: 2rem;
    padding: 2rem;
    padding-top: 6rem;
    background-color: $card-color;
    width: 34rem;
    position: relative;

    & div {
      @include flex-center(column);
      gap: 2rem;

      p {
        font-size: $font-standard;
        text-align: justify;
        line-height: 2.2rem;
      }
    }

    .favorite {
      @include favorite-item($white-color);
      @include absolute-element(1rem, calc(100% - 18.2rem));

      &__modal {
        @include favorite-item(transparent);
        @include absolute-element(1rem, calc(100% - 18.2rem));
      }
      &__fullheart {
        @include favorite-item($main-color, $white-color);
        @include absolute-element(1rem, calc(100% - 18.2rem));
      }
      &__icon {
        font-size: 1.6rem;
      }
    }
  }

  &__right {
    @include flex-center(column);
    width: 60rem;
    padding: 2rem;
    background-color: rgb(236, 232, 232);

    & div {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}

p.to-complete {
  @extend %to-complete;
  font-size: $font-standard;
}

@media (max-width: 830px) {
  .bio-space div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .comic-bio-card {
    width: 100%;
  }
}
