@use "../abstracts" as *;

.biography-bloc {
  @include flex-center(row);
  align-items: flex-start;
  gap: 4rem;

  &__left {
    @include flex-center(column);
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(236, 232, 232);
    width: 34rem;
    height: fit-content;

    & div {
      @include flex-center(column);
      gap: 3rem;

      p {
        font-size: $font-standard;
        text-align: justify;
        line-height: 2rem;
      }
    }
  }

  &__right {
    @include flex-center(column);

    gap: 2rem;
    width: 60rem;
    padding: 2rem;
    background-color: rgb(236, 232, 232);

    & div {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}

p.to-complete {
  @extend %to-complete;
  font-size: $font-standard;
}

@media (max-width: 830px) {
  .bio-space div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .comic-bio-card {
    width: 100%;
  }
}
