@use "../abstracts" as *;

.comic-bloc {
  @include flex-center(row);
  @extend %wrapper;
  background-color: $card-color;
  width: 65rem;
  padding: 2rem;
  position: relative;

  p {
    padding: 3rem;
    line-height: 2rem;
    font-size: $font-standard;
    text-align: justify;
  }

  .favorite {
    @include favorite-item($white-color);
    @include absolute-element(2rem, calc(100% - 5rem));

    &__modal {
      @include favorite-item(transparent);
      @include absolute-element(2rem, calc(100% - 5rem));
    }
    &__fullheart {
      @include favorite-item($main-color, $white-color);
      @include absolute-element(2rem, calc(100% - 5rem));
    }
    &__icon {
      font-size: 1.6rem;
    }
  }
}

.section-to-complete {
  @extend %to-complete;
  @include flex-center(column);
  gap: 2rem;
  margin-top: 10%;

  p {
    font-size: 2.2rem;
  }
}

@media (max-width: 830px) {
  .comic-bloc {
    flex-direction: column;
    width: 34rem;
  }
}
