@use "../abstracts" as *;

.comic-bloc {
  @include flex-center(row);
  @extend %wrapper;
  background-color: $card-color;
  width: 65rem;
  padding: 2rem;

  p {
    padding: 3rem;
    line-height: 2rem;
    font-size: $font-standard;
    text-align: justify;
  }
}

.section-to-complete {
  @extend %to-complete;
  @include flex-center(column);
  gap: 2rem;
  margin-top: 10%;

  p {
    font-size: 2.2rem;
  }
}

@media (max-width: 830px) {
  .comic-bloc {
    flex-direction: column;
    width: 34rem;
  }
}
