@use "../abstracts" as *;

header {
  @extend %wrapper;
  @include flex-center(column);
  padding: 2.5rem;
  gap: 2rem;
  position: relative;

  @include responsive-screen("small") {
    padding: 1.5rem;
  }

  @include responsive-screen("tiny") {
    padding-bottom: 0;
  }
}

header nav {
  @include responsive-screen("small") {
    width: 30rem;
    @include flex-center;
    gap: 1rem;
  }

  @include responsive-screen("tiny") {
    flex-direction: column;
  }
}

.header__button {
  padding: 0.8rem;
  background-color: inherit;

  border-radius: 20px 5px 20px 5px;
  color: $main-color;
  border: none;
  font-size: 2.4rem;
  margin-inline: 4rem;
  transition: background-color 250ms ease-in, color 150ms ease-in;

  @include responsive-screen("medium") {
    margin-inline: 1.5rem;
  }

  @include responsive-screen("small") {
    font-size: 1.8rem;
  }

  @include responsive-screen("tiny") {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: $white-color;
    @include darker-c($main-color, -20%);
    cursor: pointer;
  }

  &:focus {
    background-color: $white-color;
    @include darker-c($main-color, -20%);
  }
}

header img {
  width: 20rem;
  height: 8rem;

  @include responsive-screen("small") {
    width: 10rem;
    height: 5rem;
  }
}

.menu {
  @include absolute-element(3rem, calc(100% - 10rem));

  @include responsive-screen("small") {
    @include absolute-element(1.8rem, calc(100% - 8rem));
  }

  &__icon {
    background-color: $secondary-color;
    color: $main-color;
    border-radius: 20px 5px 20px 5px;
    font-size: 2.4rem;
    border: 1px solid $main-color;
    padding: 1rem 1.3rem;
    position: relative;
    cursor: pointer;

    @include responsive-screen("small") {
      font-size: 1.6rem;
    }
  }
}

.bloc-menu {
  @include absolute-element(100%, calc(-50% - 1rem));
  border-top: 2px solid rgb(153, 65, 65);
  border-inline: 2px solid rgb(153, 65, 65);
  border-radius: 20px 5px 20px 5px;
  overflow: hidden;
  width: 12rem;
  color: $white-color;
  z-index: 3;
  animation: drop-down 350ms ease-in-out;
  transform-origin: top;

  @include responsive-screen("small") {
    width: 9rem;
    @include absolute-element(100%, calc(-50% - 0.8rem));
  }

  &__item {
    @include item-menu;
  }
}
