@use "../abstracts" as *;

header {
  @extend %wrapper;
  @include flex-center(column);
  padding: 3rem;
  gap: 2rem;
  position: relative;
}

header button {
  padding: 2rem;
  background-color: inherit;
  border-radius: 50%;
  color: $main-color;
  border: none;
  font-size: 2.2rem;
  margin-right: 4rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(236, 232, 232);
    transition: 0.5s;
  }
}

header img {
  width: 20rem;
}

.menu {
  @include absolute-element(5rem, calc(100% - 10rem));

  &__icon {
    background-color: $secondary-color;
    color: $main-color;
    font-size: 2.4rem;
    border: 1px solid red;
    padding: 1rem 1.3rem;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }
}

.bloc-menu {
  @include absolute-element(100%, calc(-50% - 1rem));
  height: fit-content;
  width: 12rem;
  color: white;
  z-index: 3;

  &__item {
    @include item-menu;
  }
}

// @media (max-width: 1140px) {
//   header {
//     height: fit-content;
//     padding-block: 3rem;
//     flex-direction: column;
//     gap: 4rem;
//   }

//   header button {
//     font-size: 1.8rem;
//   }

//   header img {
//     width: 17rem;
//   }
// }

// @media (max-width: 830px) {
//   /* header button {
//     padding: 1rem;
//     font-size: 1.4rem;
//     margin-inline: 1rem;
//   } */
//   header > div:first-of-type {
//     width: 100%;

//     justify-content: space-around;
//   }

//   header > div:first-of-type > div {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }
