@use "../abstracts" as *;

.boxload {
  height: 70vh;
  position: absolute;
  left: 50vw;
  top: 50vh;

  &__loader {
    color: $main-color;
    font-size: 5rem;
    animation: spin 1.5s infinite running;

    &:hover {
      animation-play-state: paused;
    }
  }
}
