@use "../abstracts" as *;

.modal-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  @include absolute-element(0, 0);
  @include flex-center(row);

  &__bloc {
    padding: 2rem;
    background-color: $icon-color;
    width: 40rem;
    z-index: 5;
    border-radius: 10px;
    @include flex-center(column);
    animation: appear-modal 500ms 50ms both;

    @include responsive-screen("small") {
      width: 30rem;
    }
  }

  &__close {
    align-self: flex-end;
    font-size: 2.6rem;

    &:hover {
      cursor: pointer;
      animation: spin 3s ease-out infinite;
    }

    :active {
      opacity: 0.5;
    }
  }
}

.disconnect-message {
  color: #3eb0f7;
  font-size: 1.6rem;
  margin-block: 2rem;
}

.user-error {
  animation: error-shake 200ms 3 ease-in;
}
