@use "../abstracts" as *;

.sticky-bloc {
  position: sticky;
  top: 0px;
  z-index: 2;
}

.searchbar {
  @include flex-around(row);
  border-bottom: 1px solid $main-color;
  padding: 2rem;
  background-color: $background-site;

  .navbar {
    display: flex;
    gap: 5rem;
    @extend %wrapper;

    @include responsive-screen("large") {
      @include flex-center(column);
    }

    @include responsive-screen("small") {
      gap: 2.5rem;
    }
  }
}

.navsearch {
  @include flex-center;
  gap: 2rem;

  @include responsive-screen("small") {
    @include flex-center(column);
  }

  label {
    color: $white-color;
    font-size: 1.8rem;

    @include responsive-screen("small") {
      font-size: 1.6rem;
    }
  }

  input {
    text-align: center;
    width: 30rem;
    height: 3rem;
    background-color: $card-color;
    font-size: 1.6rem;

    &::placeholder {
      color: black;
      opacity: 1;
    }
  }
}

.autocomplete-bloc {
  position: relative;
  border: 1px solid rgb(153, 65, 65);
  width: 30rem;

  .autocomplete-list {
    width: 100%;
    border: 1px solid rgb(153, 65, 65);
    max-height: 23rem;
    color: $white-color;
    position: absolute;
    z-index: 4;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include responsive-screen("small") {
      max-height: 16rem;
    }
  }

  .item {
    @include item-menu;
  }
}

.navpage {
  @include flex-center;
  gap: 3rem;
  width: 37rem;

  @include responsive-screen("tiny") {
    gap: 2.2rem;
  }

  select {
    background-color: $secondary-color;
    color: $main-color;
    width: 10rem;
    font-size: 1.6rem;
    text-align: center;
    height: 4.2rem;

    @include responsive-screen("small") {
      width: 10rem;
      font-size: 1.4rem;
    }
  }

  &__chevron {
    color: $main-color;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 80%;

    @include responsive-screen("small") {
      font-size: 1.6rem;
    }

    &:hover {
      @include white-transition-hover;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__unvisible {
    visibility: hidden;
    // margin-inline is used for block the select and chevron icon
    // at the same place
    margin-inline: 1.4rem;
  }
}

@media (max-width: 1140px) {
  .search-page-bloc {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 655px) {
  .search-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .select-bloc select {
    font-size: 1.4rem;
    height: 3rem;
  }
}
