@use "../abstracts" as *;

form {
  @include flex-center(column);
  gap: 3rem;
}

.inputBloc {
  @include flex-center(column);
  width: 30rem;
  gap: 1rem;

  input {
    text-align: center;
    height: 3rem;
    outline: none;
    border-radius: 10px;

    &:focus {
      border: 3px solid black;
    }

    &:invalid {
      background-color: $transition-color;
    }

    &:valid {
      border: 2px solid #3eb0f7;
    }
  }

  input,
  label {
    font-size: 1.8rem;

    @include responsive-screen("small") {
      font-size: 1.4rem;
    }
  }
}

form button {
  margin: 1rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  border: transparent;
  background-color: #929597;
  cursor: not-allowed;

  @include responsive-screen("small") {
    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 1.4rem;
  }
}

.button__valid {
  cursor: pointer;
  background-color: #3eb0f7;
}

.error-message {
  color: $main-color;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.success-message {
  color: #3eb0f7;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.account-message {
  font-size: 1.6rem;
  margin-bottom: 2rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }
}
