@use "../abstracts" as *;

form {
  @include flex-center(column);
  gap: 3rem;
}

.inputBloc {
  @include flex-center(column);
  width: 30rem;
  gap: 1rem;

  input {
    text-align: center;
    height: 3rem;
    background-color: $transition-color;
  }

  input,
  label {
    font-size: 1.8rem;

    @include responsive-screen("small") {
      font-size: 1.4rem;
    }
  }
}

form button {
  margin-block: 2rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  border: transparent;
  background-color: #3eb0f7;

  @include responsive-screen("small") {
    padding-block: 1rem;
    padding-inline: 2rem;
    font-size: 1.4rem;
  }
}

.error-message {
  color: red;
  margin-top: 2rem;
}
