@use "../abstracts" as *;

form {
  @extend %flex-center;
  flex-direction: column;
  gap: 3rem;
}

.inputBloc {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;

  input {
    height: 3rem;
    background-color: rgb(238, 209, 209);
  }

  input,
  label {
    font-size: 1.8rem;
  }
}

form button {
  margin-block: 2rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 5px;
  font-size: 2rem;
  border: transparent;
  background-color: #3eb0f7;
}

.error-message {
  color: red;
  margin-top: 2rem;
}
