@use "../abstracts" as *;

.back-arrow {
  color: $main-color;
  font-size: 5rem;
  margin-left: 2rem;
  animation: opacity-animation 1s 300ms ease-out;

  @include responsive-screen("small") {
    font-size: 4rem;
  }

  &:hover {
    animation: chevron-left 2s infinite ease-in-out;
  }

  &:active {
    opacity: 0.7;
  }
}

.comic__row {
  @include flex-center;
  gap: 5rem;

  @include responsive-screen("medium") {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }
}

.comic-bloc {
  @include flex-center(row);

  background-color: $card-color;
  width: 65rem;
  padding: 2rem;
  position: relative;
  animation: solo-cardComic-fadin-in 1.2s cubic-bezier(0.6, 0, 0.73, 0.37)
    backwards;

  @include responsive-screen("medium") {
    flex-direction: column;
    width: 34rem;
    padding-top: 5rem;
  }

  p {
    padding: 3rem;
    line-height: 2rem;
    font-size: $font-standard;
    text-align: justify;

    @include responsive-screen("medium") {
      padding: 1.5rem;
    }
  }

  img {
    @include responsive-screen("medium") {
      margin-bottom: 2rem;
    }
  }

  .favorite {
    @include favorite-item($icon-color);
    @include absolute-element(2rem, calc(100% - 5rem));
    // animation: little-fav 2s ease-in-out;

    @include responsive-screen("medium") {
      @include absolute-element(1rem, calc(50% - 0.8rem));
    }

    &:focus {
      background-color: rgb(167, 163, 163);
    }

    &__modal {
      @include favorite-item(transparent);
      @include absolute-element(2rem, calc(100% - 5rem));

      @include responsive-screen("medium") {
        @include absolute-element(1rem, calc(50% - 0.8rem));
      }
    }
    &__fullheart {
      @include favorite-item($main-color, $icon-color);
      // transition: background-color 1s;
      @include absolute-element(2rem, calc(100% - 5rem));

      @include responsive-screen("medium") {
        @include absolute-element(1rem, calc(50% - 0.8rem));
      }

      &:focus {
        background-color: rgb(132, 69, 69);
      }
    }
    &__icon {
      font-size: 1.6rem;
    }
  }
}

.section-to-complete {
  @extend %to-complete;
  @include flex-center(column);
  gap: 2rem;
  margin-top: 10%;
  animation: fade-in-cards-left 1.2s ease;

  p {
    font-size: 2.2rem;
    margin: 1rem;

    @include responsive-screen("small") {
      font-size: 1.8rem;
    }
  }

  .back-arrow {
    margin-top: 5rem;
  }
}
