@use "../abstracts/" as *;

.favorite-page {
  @include flex-center(column);

  &__bloc {
    padding: 4rem;
    @include flex-center;
    flex-wrap: wrap;
    gap: 3rem;

    @include responsive-screen("tiny") {
      width: 100%;
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
